@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');
h1, h2, h3, p{
    text-align: center;
    color: whitesmoke;
    background-color: #006400b3;
    font-family: 'Oxanium', cursive;
}
p{
    box-sizing: border-box;
    padding: 0px 50px 0px;
}
.colourchange{
    color: whitesmoke;
    font-family: 'Oxanium', cursive;
}
body {
    background-image: url(images/binary.jpg);
}
.body {
    background-image: url(images/tallyhoe.jpg);
}
.container {
    display: flex;
    justify-content: center;
}
.container2 {
    display: flex;
    justify-content: space-between;
}
.sitemapcontainer {
    display: flex;
    justify-content: space-around;
}
.h1 {
    display: flex;
    justify-content: center;
}